*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #020617;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'Segoe UI', sans-serif;
}

button {
  font-family: inherit;
  background: none;
  border: none;
}/* You can add global styles to this file, and also import other style files */
